.page{
  font-family: "Kanit-Regular";
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #465e72;
  height: 34px;
  padding: 0;
  transition: font-size .3s, font-family .3s ease-in;
  margin:  0 4px;
}

.page:hover{
  cursor: pointer;
  font-size: 24px;
  font-family: "Kanit-Semibold";
}

.page_active{
  font-size: 24px;
  font-family: "Kanit-Semibold";
}

.paginator{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.arrow{
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in;
}

.arrow:hover{
  cursor: pointer;
  background-size: 12px 12px;
}

.left{
  background-image: url('../../images/left.svg');
  margin-right: 2px;
}

.right{
  background-image: url('../../images/right.svg');
  margin-left: 2px;
}