
.header{
  grid-area: header;
  background-color: #fdfeff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo_box{
  display: flex;
  align-items: center;
}
  
.logo{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo_text{
  font-family:  "Montserrat-Bold";
  color: #465e72;
  font-size: 20px;
  margin: 0 0 0 10px;
  text-decoration: none;
}


.avatar{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px #465e72 solid;
  margin: 0 10px 0 0;
}

.avatarNotAuth{
  padding: 1px 6px 3px 9px;
  box-sizing: border-box;
  object-fit: contain;
  border: 2px #465e72 solid;
  margin: 0;
}

.user_box{
  display: flex;
  align-items: center;
}

.name{
  font-family: "Montserrat-Bold";
  font-size: 12px;
  text-transform: uppercase;
  border: 1px #465e72 solid;
  color: #465e72;
  border-radius: 20px;
  margin: 0 10px 0;
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  min-width: 100px;
  transition: opacity .3s ease-in;

}

.name:hover{
  cursor: pointer;
  opacity: .6;
}

.login{
  text-decoration: none;
  width: 100px;
  font-family: "Montserrat-Bold";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border: 2px #465e72 solid;
  color: #465e72;
  border-radius: 20px;
  margin: 0 10px 0;
  text-align: center;
  padding: 6px 10px;
}

.hidden_box{
  display: none;
}

.logout{
  display: block;
  background-image: url('../../images/logout.svg');
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  transition: opacity .3s ease-in;
}

.logout:hover{
  cursor: pointer;
  opacity: .6;
}