
.profile_info{
  display: flex;
}

.photo_box{
  width: 250px;
  display: flex;
  flex-direction: column;
}

.change_photo{
  width: 70%;
}

.description_box{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user_photo{
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-sizing: border-box;
}

.user_photoDefault{
  object-fit: contain;
  background-color: #f1f8ff;
  padding: 30px;

}

.header{
  font-family: "Montserrat-Bold";
  font-size: 24px;
  text-transform: uppercase;
  color: #465e72;
  margin: 0;
  border-bottom: 2px #465e72 solid;
  line-height: 30px;
}

.caption{
  margin: 4px 0;
  color: #354848;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  font-size: 16px;
}


.info{
  margin: 20px 0;
}


.headline{
  font-family: "Montserrat-Semibold";
  font-size: 16px;
  /* text-transform: uppercase; */
  color: #354848;
}


.text{
  color: #354848;
  font-family: "Montserrat-Regular";

}


.photos{
  /* align-self: end; */
}


.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-left: 10px;
  border: none;
  box-sizing: border-box;
}

.photo:first-child {
  margin-left: 0px;
}

.photo_default {
  padding: 24px;
  background-color: #f1f8ff;
}