.status_box{

}

.status{
  color: #465e72;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  line-height: 32px;
  margin:  0 0 0 1px;
  width: 100%;
}

.status_input{
  font-size: 14px;
  border: none;
  border-radius: 20px;
  padding: 2px 1px;
  line-height: 28px;
  margin: 0;
  outline: none;
  width: 100%;
  color: #465e72;
  box-sizing: border-box;
}

.status_input:focus{
  /* border: 1px #465e72 solid; */
  background-color: #f1f8ff;
}