.App {
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas: 
  'header header'
  'menu content';
  margin: 0 auto;
  max-width: 1280px;
}


.app-content{
  grid-area: content;
  background-color:grey;
}

