.App {
  font-family: 'Montserrat-Regular', 'Kanit-Light', 'Arial', 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 8fr;
  gap: 10px;
  grid-template-areas: 
  'header header'
  'menu content';
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px 30px;
}


.app-content{
  grid-area: content;
  background-color:#fdfeff;
  padding: 20px 0;
  min-width: 100%;
}

.app-landing{
  grid-column-start: 1;
  grid-column-end: 3;
}
